@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import '../css/null.scss';

$body-bgColor: #242a43;
$defaultTextColor: #fff;
$purple: #514ce2;

body {
  background-color: $body-bgColor;
  color: $defaultTextColor;
  font-family: 'Inter', sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1350px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  h1 {
    font-size: 30px;
    text-align: center;
    padding: 5% 0;
    span {
      color: $purple;
    }
  }
}

// recipes__list

.recipes__list {
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LINK {
  display: flex;
}

// CARD STYLES

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fafafa;
  border: 2px solid rgba(0, 0, 0, 0.1);
  // max-width: 40rem;
  width: 220px;
  // min-height: 63rem;
  padding: 15px;

  &--img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    img {
      height: 200px;
      width: auto;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
    text-align: center;
    flex-grow: 1;
  }

  &--title {
    padding-top: 10px;
    color: #313135;
    font-weight: 700;
    font-size: 25px;
  }

  &--sub {
    font-weight: 600;
    font-size: 20px;
    color: #59595c;
  }
}

.card--button {
  justify-self: flex-end;
  color: #f2f2f2;
  background-color: #0b6e4f;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

.card--button:hover {
  box-shadow: 2px 4px 12px rgba(10, 88, 64, 0.35);
}

// product details //
.product-details {
  padding: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 35px;
    color: #dfe1e9;
    text-align: center;
    padding: 20px 0;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    img {
      height: 300px;
      width: auto;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  max-width: 400px;

  span {
    font-size: 20px;
    color: yellow;
  }

  &__ingredients {
    li {
      margin: 8px 0;
      margin-left: 50px;
    }
  }
}
